/* rs-theme-name: Ayu Mirage {rsthemes} */
/* rs-theme-is-dark: TRUE */
$base00: #232834;
$base01: #1F2430;
$base02: #707A8C;
$base03: #707A8C4D;
$base04: #33415E;
$base05: #CBCCC6;
$base06: #5C6773;
$base07: #707A8C66;
$purple: #D4BFFF;
$blue: #73D0FF;
$teal: #95E6CB;
$green: #BAE67E;
$orange01: #FFCC66;
$orange02: #FFD580;
$orange03: #FFA759;
$orange04: #FFE6B3;
$orange05: #F29E74;
$pink: #F28779;
$ui_background: $base01;
$ui_foreground: $base05;
$code_string: $green;
$code_function: $orange02;
$code_value: $orange04;
$code_variable: $blue;
$code_message: $teal;
$ui_rstudio_background: $base00;
$ui_rstudio_foreground: $base02;
$ui_rstudio_border: $ui_background;
$rmd_chunk_background: $base00;
$ui_rstudio_tabs_inactive_background: $base00;
$ui_rstudio_tabs_inactive_foreground: transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_inactive_hover_background: $ui_rstudio_tabs_inactive_background;
$ui_rstudio_tabs_active_background: $base00;
$ui_rstudio_tabs_active_foreground: $base05;
$ui_rstudio_toolbar_background: $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground: $base02;
$ui_rstudio_search: $ui_rstudio_toolbar_background;
$ui_rstudio_scrollbar_background: $ui_background;
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;
$ui_cursor: $orange01;
$ui_cursor_normal_mode: $ui_cursor;
$ui_gutter_foreground: $base07;
$ui_gutter_background: $ui_background;
$ui_line_active: $base00;
$ui_selection: $base04;
$ui_line_active_selection: $base03;
$ui_line_active_gutter: $ui_background;
$ui_bracket: transparentize($ui_cursor, 0.6);
$ui_invisible: transparentize($ui_foreground, 0.7);
$ui_indent_guide: $ui_invisible;
$ui_margin_line: $base03;
$ui_debug_background: $base03;
$ui_fold_arrows_foreground: $ui_cursor;
$ui_fold_arrows_background: transparentize($ui_fold_arrows_foreground, 0.5);
$ui_line_find: $ui_selection;
$ui_console_selection: $base04;
$ui_completions_background: $base00;
$ui_completions_foreground: $base03;
$ui_completions_border: $base00;
$ui_completions_selected_background: $ui_line_active_selection;
$ui_completions_selected_foreground: $base00;
$ui_rstudio_job_progress_bar: $teal;
$code_comment: $base06;
$code_namespace_font_style: italic;
$code_reserved: $orange03;
$code_operator: $orange01;
$code_bracket: $base05;
$code_namespace: $pink;
$code_identifier: $base05;
$code_string_background: inherit;
$code_function_background: inherit;
$code_value_background: inherit;
$code_variable_background: inherit;
$code_message_background: inherit;
$code_comment_background: inherit;
$code_reserved_background: inherit;
$code_operator_background: inherit;
$code_bracket_background: inherit;
$code_namespace_background: inherit;
$code_identifier_background: inherit;
$code_other: $code_string;
$rmd_heading_weight: 600;
$rmd_heading_foreground: $pink;
$rmd_heading_background: $code_string_background;
$rmd_chunk_header: $green;
$rmd_chunk_header_background: $code_function_background;
$rmd_href: $pink;
$rmd_href_background: $code_reserved_background;
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_rstudio-dark.scss";
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_rstudio-dark-flatter.scss";
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_terminal.scss";
.rstudio-themes-flat .gwt-TabLayoutPanelTab-selected {
    .gwt-TabLayoutPanelTabInner .rstheme_tabLayoutCenter {
      box-shadow: 0 -2px 0 $teal inset;
      border-radius: 0 !important;
    }
  }
  
.rstudio-themes-dark .dataGridHeader, .rstudio-themes-dark tr[__gwt_header_row] > :-webkit-any(td, th), .rstudio-themes-dark .dataTables_info {
    background-color: $base00 !important;
      border-color: $base00 !important;
  }
  
$ui_command_palette_background: $ui_background;
$ui_command_palette_search_background: $ui_command_palette_background;
$ui_command_palette_border: $ui_command_palette_background;
$ui_command_palette_item_background: $ui_command_palette_background;
$ui_command_palette_item_color: $ui_foreground;
$ui_command_palette_item_hover_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 5%), darken($ui_command_palette_item_background, 5%));
$ui_command_palette_item_selected_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 10%), darken($ui_command_palette_item_background, 10%));
$ui_rstudio_dialog_background: $ui_rstudio_background;
$ui_rstudio_dialog_foreground: $ui_rstudio_foreground;
$ui_rstudio_dialog_border: if($ui_rstudio_is_dark, lighten($ui_rstudio_dialog_background, 5%), darken($ui_rstudio_dialog_background, 5%));
$ui_rstudio_dialog_selected_background: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_selected_foreground: $base05;
$ui_rstudio_dialog_heading_foreground: $code_function;
$ui_rstudio_dialog_help_foreground: $base05;
$ui_rstudio_dialog_button_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_button_background: $ui_rstudio_dialog_background;
$ui_rstudio_dialog_button_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_button_hover_foreground: $base05;
$ui_rstudio_dialog_button_hover_background: lighten($ui_rstudio_dialog_button_background, 10%);
$ui_rstudio_dialog_button_hover_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_input_foreground: $code_value;
$ui_rstudio_dialog_input_background: $base01;
$ui_rstudio_dialog_input_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_checkbox_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_checkbox_background: lighten($ui_rstudio_dialog_background, 5%);
$ui_rstudio_dialog_select_background: $base01;
$ui_rstudio_dialog_select_foreground: $base05;
$ui_paren_0: $teal;
$ui_paren_1: $pink;
$ui_paren_2: $base05;
$ui_paren_3: $purple;
$ui_paren_4: $blue;
$ui_paren_5: $green;
$ui_paren_6: violet;
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_command-palette.scss";
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_large-tabs.scss";
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_dialog-options.scss";
@import "../../../../../../../../Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsthemes/templates/rstudio/_rainbow-parens.scss";
