$ui-command-palette-background: $ui-background !default;
$ui-command-palette-search-background: $ui-command-palette-background !default;
$ui-command-palette-border: $ui-command-palette-background !default;
$ui-command-palette-item-background: $ui-command-palette-background !default;
$ui-command-palette-item-color: $ui-foreground !default;
$ui-command-palette-item-hover-background: if($ui-rstudio-is-dark, lighten($ui-command-palette-item-background, 5%), darken($ui-command-palette-item-background, 5%)) !default;
$ui-command-palette-item-selected-background: if($ui-rstudio-is-dark, lighten($ui-command-palette-item-background, 10%), darken($ui-command-palette-item-background, 10%)) !default;

#rstudio_command_palette_search,
#rstudio_command_palette_list [id^="rstudio_command_"],
input#rstudio_command_palette_search {
  background-color: $ui-command-palette-search-background;
  border: none;
}

#rstudio_command_palette_list {
  background-color: $ui-command-palette-search-background;
  border-color: $ui-command-palette-search-background;
}

.rstudio-themes-flat .rstudio-themes-border {
  border-color: $ui-command-palette-border;
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"] {
  table .gwt-Label,
  table td {
    background-color: $ui-command-palette-item-background;
    color: $ui-command-palette-item-color;
  }
  &:hover {
    &, [id^="rstudio_command_entry"], table .gwt-Label, table td {
      background-color: $ui-command-palette-item-hover-background;
    }
  }
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [aria-selected="true"] {
  &, [id^="rstudio_command_entry"], table .gwt-Label, table td {
    background-color: $ui-command-palette-item-selected-background;
  }
}

input#rstudio_command_palette_search {
  padding: 10px 0;
  width: 580px;
  border: none;
  .js-focus-visible & {
    outline-offset: 5px !important;
  }
}

// Fix labels colliding with other CSS rules for popups
.rstudio-themes-flat .popupContent [id^="rstudio_command"] [id^="rstudio_command_entry_"] .gwt-Label {
  &, & span {
    border: none;
  }
}
