$ui_command_palette_background: $ui_background !default;
$ui_command_palette_search_background: $ui_command_palette_background !default;
$ui_command_palette_border: $ui_command_palette_background !default;
$ui_command_palette_item_background: $ui_command_palette_background !default;
$ui_command_palette_item_color: $ui_foreground !default;
$ui_command_palette_item_hover_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 5%), darken($ui_command_palette_item_background, 5%)) !default;
$ui_command_palette_item_selected_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 10%), darken($ui_command_palette_item_background, 10%)) !default;

#rstudio_command_palette_search,
#rstudio_command_palette_list [id^="rstudio_command_"],
input#rstudio_command_palette_search {
  background-color: $ui_command_palette_search_background;
  border: none;
}

#rstudio_command_palette_list {
  background-color: $ui_command_palette_search_background;
  border-color: $ui_command_palette_search_background;
}

.rstudio-themes-light-menus,
.rstudio-themes-dark-menus {
  .rstudio-themes-border {
    border-color: $ui_command_palette_border;
  }

  .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"] {
    table .gwt-Label,
    table td {
      background-color: $ui_command_palette_item_background;
      color: $ui_command_palette_item_color;
    }
    &:hover {
      &, [id^="rstudio_command_entry"], table .gwt-Label, table td {
        background-color: $ui_command_palette_item_hover_background;
      }
    }
  }

  .gwt-PopupPanel .popupContent #rstudio_command_palette_list [aria-selected="true"] {
    &, [id^="rstudio_command_entry"], table .gwt-Label, table td {
      background-color: $ui_command_palette_item_selected_background;
    }
  }

  input#rstudio_command_palette_search {
    padding: 10px 0;
    width: 580px;
    border: none;
    .js-focus-visible & {
      outline-offset: 5px !important;
    }
  }

  // Fix labels colliding with other CSS rules for popups
  .popupContent [id^="rstudio_command"] [id^="rstudio_command_entry_"] .gwt-Label {
    &, & span {
      border: none;
    }
  }
}

