// primary UI colors
// $ui-background           : ;
// $ui-foreground           : ;
$ui-code-chunk-background: darken($ui-background, 5%) !default;
$ui-selection            : transparentize($ui-code-chunk-background, 0.6) !default;
$ui-cursor               : #FF0000 !default;
$ui-cursor-normal-mode   : $ui-cursor !default;
$ui-margin-line          : lighten($ui-selection, 5%) !default;
$ui-gutter-color         : transparentize($ui-foreground, 0.75) !default;
$ui-gutter-background    : $ui-background !default;

// less common UI colors
$ui-line-active           : transparentize($ui-code-chunk-background, 0.6) !default;
$ui-line-active-gutter    : $ui-background !default;
$ui-line-active-selection : opacify($ui-selection, 1) !default;
$ui-line-find             : $ui-selection !default;
$ui-bracket               : transparentize($ui-cursor, 0.6) !default;
$ui-invisible             : transparentize($ui-foreground, 0.7) !default;
$ui-indent-guide          : $ui-invisible !default;
$ui-debug-background      : lighten($ui-background, 10%) !default;
$ui-fold-arrows-color     : $ui-cursor !default;
$ui-fold-arrows-background: transparentize($ui-fold-arrows-color, 0.5) !default;

// rstudio
$ui-rstudio-background          : darken($ui-background, 2%) !default;
$ui-rstudio-color               : $ui-foreground !default;
$ui-rstudio-tabs-inactive       : lighten($ui-rstudio-background, 2%) !default;
$ui-rstudio-tabs-inactive-color : transparentize($ui-foreground, 0.4) !default;
$ui-rstudio-tabs-selected       : $ui-code-chunk-background !default;
$ui-rstudio-tabs-selected-color : $ui-foreground !default;
$ui-rstudio-toolbar             : $ui-rstudio-tabs-selected !default;
$ui-rstudio-toolbar-color       : $ui-foreground !default;
$ui-rstudio-search              : $ui-rstudio-toolbar !default;
$ui-completions-background      : $ui-background !default;
$ui-completions-color           : $ui-foreground !default;
$ui-completions-border          : $ui-bracket !default;
$ui-rstudio-scrollbar-background: $ui-background !default;
$ui-rstudio-scrollbar-handle    : $ui-code-chunk-background !default;

// R language colors
// These need to be set...
//$rlang-string: ;
//$rlang-function: ;
//$rlang-value: ;
//$rlang-variable: ;
//$rlang-message: ;
$rlang-comment  : transparentize($ui-foreground, 0.5) !default;
$rlang-namespace-font-style: italic !default;
$rlang-reserved : $rlang-string !default;
$rlang-operator : $rlang-value !default;
$rlang-bracket  : $rlang-function !default;
$rlang-namespace: $rlang-variable !default;
$other-tag: $rlang-string !default;

// R Markdown
$rmd-heading-weight: 600 !default;
$rmd-heading-color: $rlang-string !default;
$rmd-chunk-header: $rlang-function !default;
$rmd-href: $rlang-reserved !default;
