// Flatter RStudio Dark

/* borders on toolbar under editor */
body .rstudio-themes-dark table.rstudio-themes-background td > div:first-child {
  border-color: $ui_rstudio_background !important;
}

/* Borrowed from https://github.com/anthonynorth/rscodeio */

/* splitters */
body > .rstudio-themes-dark .gwt-SplitLayoutPanel-HDragger {
  border-color: $ui_rstudio_background;
}

body > .rstudio-themes-dark .gwt-SplitLayoutPanel-VDragger {
  border-color: $ui_rstudio_background;
}

body > .rstudio-themes-dark .gwt-SplitLayoutPanel td {
  border-color: $ui_background !important;
}

/* window containers */
body
  > .rstudio-themes-dark
  :-webkit-any(.windowframe, .rstheme_minimizedWindowObject)
  > div:last-child {
  border-radius: 0;
  border-color: $ui_background;
  //border: none !important;
}

/* main toolbar */
.rstudio-themes-dark > div:last-child > div > div > .rstheme_toolbarWrapper,
.rstudio-themes-dark [role="application"] > div > .rstheme_toolbarWrapper {
  border-color: $ui_rstudio_tabs_inactive_background;
}

/* toolbars */
.rstudio-themes-dark .rstheme_toolbarWrapper,
.rstudio-themes-dark .rstheme_secondaryToolbar {
  border-color: $ui_rstudio_tabs_inactive_background !important;
  border-radius: 0 !important;
}

/* other toolbars */
.rstudio-themes-dark .rstudio-themes-background {
  border-top-color:  $ui_rstudio_tabs_inactive_background !important;
  border-bottom-color:  $ui_rstudio_tabs_inactive_background !important;
  border-radius: 0 !important;
}

/* tabs container */
.rstudio-themes-dark .gwt-TabLayoutPanelTabs,
/* windows */
.rstudio-themes-dark .windowframe,
/* remove gradients */
.rstudio-themes-dark :-webkit-any(.rstheme_multiPodUtilityTabArea, .GD15MCFCCS, .GJQ3LUQCCS) {
  background: $ui_rstudio_tabs_inactive_background !important;
  border-color: $ui_rstudio_tabs_inactive_background !important;
}

/* tabs */
.rstudio-themes-dark .gwt-TabLayoutPanelTab:not(.gwt-TabLayoutPanelTab-selected) .rstheme_tabLayoutCenter,
.rstudio-themes-dark .rstheme_minimizedWindowObject .rstheme_center {
  border-color: $ui_rstudio_tabs_inactive_background !important;
  border-right: 1px solid $ui_rstudio_tabs_inactive_background!important;
  border-radius: 0;
}

/* active tab */
.rstudio-themes-dark .gwt-TabLayoutPanelTab.gwt-TabLayoutPanelTab-selected .rstheme_tabLayoutCenter {
  border: none;
}

