/* Github by Github, gadenbuie */

$base00: #fafbfc;
$base01: #f6f8fa;
$base02: #eff3f6;
$base03: #C6CBD1;
$base04: #959da5;
$base05: #6a737d;
$base06: #586069;
$base07: #24292e;
$base0C: #d73a49;
$base09: #735c0f;
$base0A: #6f42c1;
$base0B: #22863a;
$base08: #b31d28;
$base0D: #e36209;
$base0E: #032f62;
$base0F: #005cc5;

$blue: #0366D6;
$light-blue: #F1F8FF;
$light-green: #f0fff4;
$light-red: #ffeef0;