/* rs-theme-name: a11y-light {rsthemes} */
/* rs-theme-is-dark: FALSE */
$white: #FEFEFE;
$black: #2B2B2B;
$gray1: #545454;
$gray2: #696969;
$blue: #007faa;
$blue-med: #4254a7;
$blue-dark: #19177c;
$red-bright: #ff0000;
$red: #d91e18;
$red-dark: #ba2121;
$wasabi: #7d9029;
$pink: #bb6688;
$purple: #a1024a;
$green: #008000;
$orange: #bc7a00;
$orange-dark: #aa5d00;
$ui_background: $white;
$ui_foreground: $black;
$code_string: $green;
$code_function: $blue-dark;
$code_value: $purple;
$code_variable: $blue-dark;
$code_message: $red-dark;
$ui_rstudio_background: $white;
$ui_rstudio_foreground: $black;
$ui_rstudio_border: $ui_background;
$rmd_chunk_background: darken($ui_background, 5%);
$ui_rstudio_tabs_inactive_background: lighten($ui_rstudio_background, 2%);
$ui_rstudio_tabs_inactive_foreground: transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_inactive_hover_background: $ui_rstudio_tabs_inactive_background;
$ui_rstudio_tabs_active_background: $rmd_chunk_background;
$ui_rstudio_tabs_active_foreground: $ui_foreground;
$ui_rstudio_toolbar_background: $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground: $ui_foreground;
$ui_rstudio_search: $ui_rstudio_toolbar_background;
$ui_rstudio_scrollbar_background: $ui_background;
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;
$ui_cursor: transparentize($red, 0.5);
$ui_cursor_normal_mode: $ui_cursor;
$ui_gutter_foreground: $gray1;
$ui_gutter_background: $ui_background;
$ui_line_active: transparentize($rmd_chunk_background, 0.6);
$ui_selection: transparentize($blue-med, 0.85);
$ui_line_active_selection: opacify($ui_selection, 1);
$ui_line_active_gutter: $ui_background;
$ui_bracket: transparentize($red, 0.75);
$ui_invisible: transparentize($ui_foreground, 0.7);
$ui_indent_guide: $ui_invisible;
$ui_margin_line: #ededed;
$ui_debug_background: transparentize($orange, 0.75);
$ui_fold_arrows_foreground: $ui_cursor;
$ui_fold_arrows_background: transparentize($ui_fold_arrows_foreground, 0.5);
$ui_line_find: $ui_selection;
$ui_console_selection: $ui_selection;
$ui_completions_background: $white;
$ui_completions_foreground: $black;
$ui_completions_border: #ededed;
$ui_completions_selected_background: $ui_line_active_selection;
$ui_completions_selected_foreground: $ui_foreground;
$ui_rstudio_job_progress_bar: opacify($ui_selection, 1);
$code_comment: $gray2;
$code_namespace_font_style: bold;
$code_reserved: $blue;
$code_operator: $gray2;
$code_bracket: $gray2;
$code_namespace: $orange-dark;
$code_identifier: $black;
$code_string_background: inherit;
$code_function_background: inherit;
$code_value_background: inherit;
$code_variable_background: inherit;
$code_message_background: inherit;
$code_comment_background: inherit;
$code_reserved_background: inherit;
$code_operator_background: inherit;
$code_bracket_background: inherit;
$code_namespace_background: inherit;
$code_identifier_background: inherit;
$code_other: $code_string;
$rmd_heading_weight: 600;
$rmd_heading_foreground: $red-dark;
$rmd_heading_background: $code_string_background;
$rmd_chunk_header: $purple;
$rmd_chunk_header_background: $code_function_background;
$rmd_href: $blue-dark;
$rmd_href_background: $code_reserved_background;
@import "rstudio/_rstudio-light.scss";
@import "rstudio/_terminal.scss";

[class="ace_keyword"] {
	font-weight: 600;
}
.ace_function {
  font-weight: 600;
}

$ui_command_palette_background: $ui_background;
$ui_command_palette_search_background: $ui_command_palette_background;
$ui_command_palette_border: $ui_command_palette_background;
$ui_command_palette_item_background: $ui_command_palette_background;
$ui_command_palette_item_color: $ui_foreground;
$ui_command_palette_item_hover_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 5%), darken($ui_command_palette_item_background, 5%));
$ui_command_palette_item_selected_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 10%), darken($ui_command_palette_item_background, 10%));
$ui_paren_0: $gray2;
$ui_paren_1: $blue-med;
$ui_paren_2: $red;
$ui_paren_3: $green;
$ui_paren_4: $purple;
$ui_paren_5: $orange;
$ui_paren_6: $wasabi;
@import "rstudio/_command-palette.scss";
@import "rstudio/_rainbow-parens.scss";
