/* rs-theme-name: Fairyfloss {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_fairyfloss.scss";

// primary UI colors
$ui_background           : $syntax-background-color;
$ui_foreground           : $syntax-text-color;
$rmd_chunk_background: darken($ui_background, 2%);
$ui_selection            : darken($ui_background, 10%);
$ui_cursor               : #c2ffdf;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : transparentize($ui_selection, 0.5);
$ui_gutter_foreground         : transparentize($syntax-gutter-text-color, 0.5);
$ui_gutter_background    : $syntax-gutter-background-color;

// less common UI colors
$ui_line_active           : $rmd_chunk_background;
$ui_line_active_gutter    : $syntax-gutter-text-color-selected;
$ui_fold_arrows_foreground     : $ui_foreground;
$ui_fold_arrows_background: #AE81FF;

// rstudio
$ui_rstudio_background   : darken($ui_background, 15%);
$ui_rstudio_tabs_inactive_background: darken($ui_background, 10%);

.rstudio-themes-dark-grey .rstheme_minimizedWindowObject table.rstheme_center {
  background-color: $ui_rstudio_tabs_inactive_background !important;
}

// R language colors
$code_string   : #ffea00;
$code_function : #c2ffdf;
$code_value    : #c5a3ff;
$code_operator : #ffb8d1;
$code_message  : #c2ffdf;
$code_comment  : #e6c000;
$code_reserved : #C5A3FF;
$code_variable : #ff857f;
$code_bracket  : $ui_foreground;
$other_tag      : #f8f8f0;
$code_namespace_font_style: italic;

// R Markdown
$rmd_heading_weight: 600;
$rmd_heading_color: #c2ffdf;
$rmd_chunk_header: #fff352;
$rmd_href: #ae81ff;

// rainbow parens;
$ui_paren_0: $code_message;        // cyan
$ui_paren_1: $syntax-color-renamed; // blue
$ui_paren_2: $syntax-color-added;   // green
$ui_paren_3: $code_string;         // yellow
$ui_paren_4: $code_variable;       // red
$ui_paren_5: $syntax-color-removed; // magenta
$ui_paren_6: $ui_foreground;        // white

@import "rstudio/_rstudio-dark", "rstudio/_rstudio-dark-flatter.scss";
@import "rstudio/_components";

/* crayon */
// black -- 0
.xtermColor0 { color: $syntax-wrap-guide-color !important; }
.xtermBgColor0 { background-color: $syntax-wrap-guide-color; }
// red -- 1
.xtermColor1 { color: $code_variable !important; }
.xtermBgColor1 { background-color: $code_variable }
// green -- 2
.xtermColor2 { color: $syntax-color-added !important; }
.xtermBgColor2 { background-color: $syntax-color-added; }
// yellow -- 3 {
.xtermColor3 { color: $code_string !important; }
.xtermBgColor3 { background-color: $code_string; }
// blue -- 4
.xtermColor4 { color: $syntax-color-renamed !important; }
.xtermBgColor4 { background-color: $syntax-color-renamed; }
// magenta -- 5
.xtermColor5 { color: $syntax-color-removed !important; }
.xtermBgColor5 { background-color: $syntax-color-removed; }
// cyan -- 6
.xtermColor6 { color: $code_message !important; }
.xtermBgColor6 { background-color: $code_message; }
// white -- 7
.xtermColor7 { color: $ui_foreground !important; }
.xtermBgColor7 { background-color: $ui_foreground; }
// gray -- 8
.xtermColor8 { color: $syntax-gutter-text-color !important; }
.xtermBgColor8 { background-color: $syntax-gutter-text-color; }

