/* rs-theme-name: Fairyfloss {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_fairyfloss.scss";

// primary UI colors
$ui-background           : $syntax-background-color;
$ui-foreground           : $syntax-text-color;
$ui-code-chunk-background: darken($ui-background, 2%);
$ui-selection            : darken($ui-background, 10%);
$ui-cursor               : #c2ffdf;
$ui-cursor-normal-mode   : $ui-cursor;
$ui-margin-line          : transparentize($ui-selection, 0.5);
$ui-gutter-color         : transparentize($syntax-gutter-text-color, 0.5);
$ui-gutter-background    : $syntax-gutter-background-color;

// less common UI colors
$ui-line-active           : $ui-code-chunk-background;
$ui-line-active-gutter    : $syntax-gutter-text-color-selected;
$ui-fold-arrows-color     : $ui-foreground;
$ui-fold-arrows-background: #AE81FF;

// rstudio
$ui-rstudio-background   : darken($ui-background, 15%);
$ui-rstudio-tabs-inactive: darken($ui-background, 10%);

.rstudio-themes-dark-grey .rstheme_minimizedWindowObject table.rstheme_center {
  background-color: $ui-rstudio-tabs-inactive !important;
}

// R language colors
$rlang-string   : #ffea00;
$rlang-function : #c2ffdf;
$rlang-value    : #c5a3ff;
$rlang-operator : #ffb8d1;
$rlang-message  : #c2ffdf;
$rlang-comment  : #e6c000;
$rlang-reserved : #C5A3FF;
$rlang-variable : #ff857f;
$rlang-bracket  : $ui-foreground;
$other-tag      : #f8f8f0;
$rlang-namespace-font-style: italic;

// R Markdown
$rmd-heading-weight: 600;
$rmd-heading-color: #c2ffdf;
$rmd-chunk-header: #fff352;
$rmd-href: #ae81ff;

// rainbow parens;
$ui-paren-0: $rlang-message;        // cyan
$ui-paren-1: $syntax-color-renamed; // blue
$ui-paren-2: $syntax-color-added;   // green
$ui-paren-3: $rlang-string;         // yellow
$ui-paren-4: $rlang-variable;       // red
$ui-paren-5: $syntax-color-removed; // magenta
$ui-paren-6: $ui-foreground;        // white

@import "rstudio/_rstudio-dark", "rstudio/_rstudio-dark-flatter.scss";
@import "rstudio/_components";

/* crayon */
// black -- 0
.xtermColor0 { color: $syntax-wrap-guide-color !important; }
.xtermBgColor0 { background-color: $syntax-wrap-guide-color; }
// red -- 1
.xtermColor1 { color: $rlang-variable !important; }
.xtermBgColor1 { background-color: $rlang-variable }
// green -- 2
.xtermColor2 { color: $syntax-color-added !important; }
.xtermBgColor2 { background-color: $syntax-color-added; }
// yellow -- 3 {
.xtermColor3 { color: $rlang-string !important; }
.xtermBgColor3 { background-color: $rlang-string; }
// blue -- 4
.xtermColor4 { color: $syntax-color-renamed !important; }
.xtermBgColor4 { background-color: $syntax-color-renamed; }
// magenta -- 5
.xtermColor5 { color: $syntax-color-removed !important; }
.xtermBgColor5 { background-color: $syntax-color-removed; }
// cyan -- 6
.xtermColor6 { color: $rlang-message !important; }
.xtermBgColor6 { background-color: $rlang-message; }
// white -- 7
.xtermColor7 { color: $ui-foreground !important; }
.xtermBgColor7 { background-color: $ui-foreground; }
// gray -- 8
.xtermColor8 { color: $syntax-gutter-text-color !important; }
.xtermBgColor8 { background-color: $syntax-gutter-text-color; }
