/* rs-theme-name: Flat White {rsthemes} */
/* rs-theme-is-dark: FALSE */

@import "palettes/_flat-white";

// primary UI colors
$ui-background           : $base7;
$ui-foreground           : $base1;
$ui-code-chunk-background: $base6;
$ui-selection            : transparentize($accent, 0.9);
$ui-cursor               : $accent;
$ui-cursor-normal-mode   : $ui-cursor;
$ui-margin-line          : $base6;
$ui-gutter-color         : $base3;
$ui-gutter-background    : $ui-background;

// less common UI colors
$ui-line-active           : transparentize($base5, 0.2);
$ui-line-active-gutter    : $base6;
$ui-line-active-selection : transparentize($accent, 0.8);
$ui-line-find             : $ui-line-active-selection;
$ui-bracket               : transparentize($ui-cursor, 0.6);
$ui-invisible             : $base5;
$ui-indent-guide          : $ui-invisible;
$ui-debug-background      : lighten($accent, 40%);
$ui-fold-arrows-color     : $purple-text;
$ui-fold-arrows-background: $purple-bg;
$ui-rstudio-tabs-active-border-left: #CF9A4F;

// rainbow parens
$ui-paren-0: $ui-foreground;
$ui-paren-1: darken(hsl(35, 100%, 47%), 10%);  // orange
$ui-paren-2: $accent;
$ui-paren-3: darken(hsl(282, 100%, 68%), 10%); // purple
$ui-paren-4: darken(hsl(172, 100%, 37%), 10%); // teal
$ui-paren-5: $accent-red;
$ui-paren-6: darken(hsl(220, 100%, 73%), 10%); // blue


// rstudio
$ui-rstudio-background          : $base5;
$ui-rstudio-color               : $base7;
$ui-rstudio-tabs-inactive       : $base5;
$ui-rstudio-tabs-inactive-color : $base2;
$ui-completions-background      : $ui-background;
$ui-completions-color           : $ui-foreground;
$ui-completions-border          : $ui-bracket;
$ui-rstudio-scrollbar-background: $ui-background;
$ui-rstudio-scrollbar-handle    : $ui-code-chunk-background;

// R language colors
$rlang-comment: $base3;
$rlang-string: $green-text; // green
$rlang-string-bg: $green-bg; // green
$rlang-function: $purple-text; // purple
$rlang-function-bg: $purple-bg; // purple
$rlang-reserved: $blue-text;
$rlang-reserved-bg: $blue-bg;
$rlang-operator: $base2;
$rlang-bracket: $base2;
$rlang-value: $teal-text; // teal
$rlang-value-bg: $teal-bg; // teal
$rlang-namespace: $orange-text; // orange
$rlang-namespace-bg: $orange-bg; // orange
$rlang-variable: $purple-text;
$rlang-variable-bg: inherit;
$rlang-identifier: $base1;
$rlang-identifier-bg: inherit;
$rlang-message: $accent;
$rlang-namespace-font-style: italic;

$other-tag: $base2;

// Rmd
$rmd-heading-color: $blue-text;
$rmd-heading-color-bg: $blue-bg;
$rmd-chunk-header: $base1;
$rmd-chunk-header-bg: inherit;
$rmd-href: $green-text;
$rmd-href-bg: $green-bg;

@import "rstudio/_rstudio-light";

/* let lines breathe */
#rstudio_source_text_editor {
    line-height: 1.6 !important;
}

/* Rmd Chunk Headers */
.ace_support.ace_function {
  &.ace_codebegin, &.ace_codeend {
    font-style: italic;
    font-weight: 600;
  }
}

/* Rmd inline code */
[class="ace_support ace_function"] {
  color: $orange-text;
  background-color: $orange-bg;
}
// this next selector misses the first backtick of inline code chunks
// if they're the first thing on the line,
// but it doesn't background highlight regular markdown code chunks
.ace_line > .ace_invisible:first-child + [class="ace_support ace_function"],
.ace_line > [class="ace_support ace_function"]:first-child {
  color: #845009; // orange-related
  background-color: inherit;
}

/* Rmd bold and italics */
.ace_constant.ace_numeric.ace_text {
  font-weight: 600;
}
.ace_constant.ace_language.ace_boolean.ace_text {
  font-style: italic;
}
.ace_url {
  color: $green-text;
  background-color: $green-bg;
}

.ace_meta.ace_tag + .ace_keyword {
  color: $base2;
  background-color: inherit;
}

/* roxygen keywords */
.ace_keyword.ace_virtual-comment {
  color: $blue-text;
  background-color: $blue-bg;
}

/* Fix RStudio toolbars and things */
.rstudio-themes-default > div:last-child > div > div > .rstheme_toolbarWrapper {
  border-color: transparent;
  table {
    background-color: $base4;
  }
}
.rstudio-themes-flat .rstudio-themes-default .rstudio-themes-border,
.rstudio-themes-flat .windowframe>div:last-child,
.rstudio-themes-flat .rstudio-themes-default .rstheme_toolbarWrapper,
.rstudio-themes-flat .rstudio-themes-default .rstheme_secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanel>div>div.gwt-TabLayoutPanelTabs {
  border-color: $base5 !important;
}

.rstudio-themes-flat .rstudio-themes-default .rstheme_toolbarWrapper {
}

/* splitters */
.rstudio-themes-flat > .rstudio-themes-default .gwt-SplitLayoutPanel-HDragger {
  border-color: transparent;
}

.rstudio-themes-flat > .rstudio-themes-default .gwt-SplitLayoutPanel-VDragger {
  border-color: transparent;
}

.rstudio-themes-flat > .rstudio-themes-default .gwt-SplitLayoutPanel td {
  border-color: transparent;
}

.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanel>div>div.gwt-TabLayoutPanelTabs {
  border-color: $base4;
}

.rstudio-themes-flat .rstheme_tabLayoutCenter,
.rstudio-themes-flat .rstheme_tabLayoutCenter {
  border-color: $base5 !important;
  margin-left: 1px;
  margin-top: 1px;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTab-selected .rstheme_tabLayoutCenter {
  box-shadow: 2px 0 0 $ui-rstudio-tabs-active-border-left inset;
  border-radius: 0 !important;
  border-top: solid 1px $base4 !important;
  border-right: solid 1px $base4 !important;
  border-left: solid 1px $base4 !important;
  margin-left: 0!important;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTab:not(.gwt-TabLayoutPanelTab-selected) .rstheme_tabLayoutCenter {
  border-bottom: solid 2px $base4 !important;
}

.rstudio-themes-flat .gwt-TabLayoutPanel > div:last-child {
  border-left: solid 1px $base4 !important;
  border-right: solid 1px $base4 !important;
}

.gwt-MenuItem-selected, .subMenuIcon-selected, .gwt-SuggestBoxPopup .item-selected {
  background-color: transparentize($accent, 0.9) !important;
}

@import "rstudio/_components";
