/* rs-theme-name: Flat White {rsthemes} */
/* rs-theme-is-dark: FALSE */

@import "palettes/_flat-white";

// primary UI colors
$ui_background           : $base7;
$ui_foreground           : $base1;
$rmd_chunk_background: $base6;
$ui_selection            : transparentize($accent, 0.9);
$ui_cursor               : $accent;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : $base6;
$ui_gutter_foreground         : $base3;
$ui_gutter_background    : $ui_background;

// less common UI colors
$ui_line_active           : transparentize($base5, 0.2);
$ui_line_active_gutter    : $base6;
$ui_line_active_selection : transparentize($accent, 0.8);
$ui_line_find             : $ui_line_active_selection;
$ui_bracket               : transparentize($ui_cursor, 0.6);
$ui_invisible             : $base5;
$ui_indent_guide          : $ui_invisible;
$ui_debug_background      : lighten($accent, 40%);
$ui_fold_arrows_foreground     : $purple-text;
$ui_fold_arrows_background: $purple-bg;
$ui-rstudio-tabs-active-border-left: #CF9A4F;

// rainbow parens
$ui_paren_0: $ui_foreground;
$ui_paren_1: darken(hsl(35, 100%, 47%), 10%);  // orange
$ui_paren_2: $accent;
$ui_paren_3: darken(hsl(282, 100%, 68%), 10%); // purple
$ui_paren_4: darken(hsl(172, 100%, 37%), 10%); // teal
$ui_paren_5: $accent-red;
$ui_paren_6: darken(hsl(220, 100%, 73%), 10%); // blue


// rstudio
$ui_rstudio_background: $base5;
$ui_rstudio_foreground: $base1;
$ui_rstudio_tabs_inactive_background: $base5;
$ui_rstudio_tabs_inactive_foreground: $base2;
$ui_completions_background: $ui_background;
$ui_completions_foreground: $ui_foreground;
$ui_completions_border: $ui_bracket;
$ui_rstudio_scrollbar_background: transparentize($ui_background, 0.5);
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;

// R language colors
$code_comment: $base3;
$code_string: $green-text; // green
$code_string_background: $green-bg; // green
$code_function: $purple-text; // purple
$code_function_background: $purple-bg; // purple
$code_reserved: $blue-text;
$code_reserved_background: $blue-bg;
$code_operator: $base2;
$code_bracket: $base2;
$code_value: $teal-text; // teal
$code_value_background: $teal-bg; // teal
$code_namespace: $orange-text; // orange
$code_namespace_background: $orange-bg; // orange
$code_variable: $purple-text;
$code_variable_background: inherit;
$code_identifier: $base1;
$code_identifier_background: inherit;
$code_message: $accent;
$code_namespace_font_style: italic;

$code_other: $base2;

// Rmd
$rmd_heading_foreground: $blue-text;
$rmd_heading_background: $blue-bg;
$rmd_chunk_header: $base1;
$rmd_chunk_header_background: inherit;
$rmd_href: $green-text;
$rmd_href_background: $green-bg;

// Dialog menus
$ui_rstudio_dialog_background: $ui_background;
$ui_rstudio_dialog_foreground: $ui_foreground;
$ui_rstudio_dialog_selected_background: mix($accent, $ui_background, 10%);
$ui_rstudio_dialog_input_background: $base5;
$ui_rstudio_dialog_heading_foreground: $accent;
$ui_rstudio_dialog_help_foreground: $base2;
$ui_rstudio_dialog_button_border: $ui_rstudio_background;
$ui_rstudio_dialog_button_hover_background: $ui_rstudio_background;
$ui_rstudio_dialog_button_hover_foreground: $ui_rstudio_foreground;

@import "rstudio/_rstudio-light";

/* let lines breathe */
#rstudio_source_text_editor {
    line-height: 1.6 !important;
}

/* Rmd Chunk Headers */
.ace_support.ace_function {
  &.ace_codebegin, &.ace_codeend {
    font-style: italic;
    font-weight: 600;
  }
}

/* Rmd inline code */
[class="ace_support ace_function"] {
  color: $orange-text;
  background-color: $orange-bg;
}
// this next selector misses the first backtick of inline code chunks
// if they're the first thing on the line,
// but it doesn't background highlight regular markdown code chunks
.ace_line > .ace_invisible:first-child + [class="ace_support ace_function"],
.ace_line > [class="ace_support ace_function"]:first-child {
  color: #845009; // orange-related
  background-color: inherit;
}

/* Rmd bold and italics */
.ace_constant.ace_numeric.ace_text {
  font-weight: 600;
}
.ace_constant.ace_language.ace_boolean.ace_text {
  font-style: italic;
}
.ace_url {
  color: $green-text;
  background-color: $green-bg;
}

.ace_meta.ace_tag + .ace_keyword {
  color: $base2;
  background-color: inherit;
}

/* roxygen keywords */
.ace_keyword.ace_virtual-comment {
  color: $blue-text;
  background-color: $blue-bg;
}

/* Fix RStudio toolbars and things */
.rstudio-themes-default > div:last-child > div > div > .rstheme_toolbarWrapper {
  border-color: transparent;
  table {
    background-color: $base4;
  }
}
.rstudio-themes-flat .rstudio-themes-default .rstudio-themes-border,
.rstudio-themes-flat .windowframe>div:last-child,
.rstudio-themes-flat .rstudio-themes-default .rstheme_toolbarWrapper,
.rstudio-themes-flat .rstudio-themes-default .rstheme_secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanel>div>div.gwt-TabLayoutPanelTabs {
  border-color: $base5 !important;
}

.rstudio-themes-flat .rstudio-themes-default .rstheme_toolbarWrapper {
}

/* splitters */
.rstudio-themes-flat > .rstudio-themes-default .gwt-SplitLayoutPanel-HDragger {
  border-color: transparent;
}

.rstudio-themes-flat > .rstudio-themes-default .gwt-SplitLayoutPanel-VDragger {
  border-color: transparent;
}

.rstudio-themes-flat > .rstudio-themes-default .gwt-SplitLayoutPanel td {
  border-color: transparent;
}

.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanel>div>div.gwt-TabLayoutPanelTabs {
  border-color: $base4;
}

.rstudio-themes-flat .rstheme_tabLayoutCenter,
.rstudio-themes-flat .rstheme_tabLayoutCenter {
  border-color: $base5 !important;
  margin-left: 1px;
  margin-top: 1px;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTab-selected .rstheme_tabLayoutCenter {
  box-shadow: 2px 0 0 $ui-rstudio-tabs-active-border-left inset;
  border-radius: 0 !important;
  border-top: solid 1px $base4 !important;
  border-right: solid 1px $base4 !important;
  border-left: solid 1px $base4 !important;
  margin-left: 0!important;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTab:not(.gwt-TabLayoutPanelTab-selected) .rstheme_tabLayoutCenter {
  border-bottom: solid 2px $base4 !important;
}

.rstudio-themes-flat .gwt-TabLayoutPanel > div:last-child {
  border-left: solid 1px $base4 !important;
  border-right: solid 1px $base4 !important;
}

.gwt-MenuItem-selected, .subMenuIcon-selected, .gwt-SuggestBoxPopup .item-selected {
  background-color: transparentize($accent, 0.9) !important;
}

$terminal_color_black: darken($ui_foreground, 5%);
$terminal_color_white: darken($ui_background, 5%);
$terminal_color_red: desaturate($accent-red, 25%);
$terminal_color_green: darken($accent-green, 5%);
$terminal_color_yellow: darken($accent-orange, 5%);
$terminal_color_blue: darken($accent-blue, 15%);
$terminal_color_magenta: darken($purple-text-sec, 5%);
$terminal_color_black_bright: mix($terminal_color_black, $terminal_color_white, 40%);
$terminal_color_white_bright: lighten($terminal_color_white, 10%);
$terminal_color_red_bright: $accent-red;
$terminal_color_green_bright: $accent-green;
$terminal_color_yellow_bright: $accent-orange;
$terminal_color_blue_bright: $accent-blue;
$terminal_color_magenta_bright: $purple-text-sec;

@import "rstudio/_components", "rstudio/_dialog-options", "rstudio/_large-tabs";
