/* rs-theme-name: Horizon Dark {rsthemes} */
/* rs-theme-is-dark: TRUE */
$base00: #16161c;
$base01: #1a1c23;
$base02: #1c1e26;
$base03: #232530;
$base04: #2e303e;
$base05: #6c6f93;
$base06: #8A8CA8;
$base07: #acafc3;
$base08: #c4c6d4;
$purple: #b877db;
$teal: #25b2bc;
$red: #e95678;
$orange: #f09383;
$gold: #fab795;
$yellow: #fac29a;
$green1: #09f7a0;
$green2: #27d796;
$ui_background: $base01;
$ui_foreground: $base06;
$code_string: $orange;
$code_function: $purple;
$code_value: $orange;
$code_variable: $green2;
$code_message: $yellow;
$ui_rstudio_background: $base00;
$ui_rstudio_foreground: $base07;
$ui_rstudio_border: $ui_background;
$rmd_chunk_background: $base02;
$ui_rstudio_tabs_inactive_background: lighten($ui_rstudio_background, 2%);
$ui_rstudio_tabs_inactive_foreground: transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_inactive_hover_background: $ui_rstudio_tabs_inactive_background;
$ui_rstudio_tabs_active_background: $base00;
$ui_rstudio_tabs_active_foreground: $base08;
$ui_rstudio_toolbar_background: $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground: $base05;
$ui_rstudio_search: $ui_rstudio_toolbar_background;
$ui_rstudio_scrollbar_background: transparentize($ui_background, 0.5);
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;
$ui_cursor: #1eaeae;
$ui_cursor_normal_mode: $ui_cursor;
$ui_gutter_foreground: #565875;
$ui_gutter_background: $ui_background;
$ui_line_active: $base00;
$ui_selection: $base00;
$ui_line_active_selection: $base03;
$ui_line_active_gutter: $ui_background;
$ui_bracket: transparentize($ui_cursor, 0.6);
$ui_invisible: transparentize($ui_foreground, 0.7);
$ui_indent_guide: $ui_invisible;
$ui_margin_line: $base03;
$ui_debug_background: $base03;
$ui_fold_arrows_foreground: $ui_cursor;
$ui_fold_arrows_background: transparentize($ui_fold_arrows_foreground, 0.5);
$ui_line_find: $ui_selection;
$ui_console_selection: $base00;
$ui_completions_background: $base00;
$ui_completions_foreground: $base08;
$ui_completions_border: $base00;
$ui_completions_selected_background: $ui_line_active_selection;
$ui_completions_selected_foreground: $base08;
$ui_rstudio_job_progress_bar: $purple;
$code_comment: $base05;
$code_namespace_font_style: italic;
$code_reserved: $orange;
$code_operator: $gold;
$code_bracket: $code_function;
$code_namespace: $teal;
$code_identifier: $red;
$code_string_background: inherit;
$code_function_background: inherit;
$code_value_background: inherit;
$code_variable_background: inherit;
$code_message_background: inherit;
$code_comment_background: inherit;
$code_reserved_background: inherit;
$code_operator_background: inherit;
$code_bracket_background: inherit;
$code_namespace_background: inherit;
$code_identifier_background: inherit;
$code_other: $code_string;
$rmd_heading_weight: 600;
$rmd_heading_foreground: $red;
$rmd_heading_background: $code_string_background;
$rmd_chunk_header: $orange;
$rmd_chunk_header_background: $code_function_background;
$rmd_href: #e9436f;
$rmd_href_background: $code_reserved_background;
@import "rstudio/_rstudio-dark.scss";
@import "rstudio/_rstudio-dark-flatter.scss";
$terminal_color_black: darken($ui_background, 5%);
$terminal_color_red: $red;
$terminal_color_green: $green2;
$terminal_color_yellow: $gold;
$terminal_color_blue: #0F6DD2;
$terminal_color_magenta: $purple;
$terminal_color_cyan: $teal;
$terminal_color_white: darken($ui_foreground, 5%);
$terminal_color_black_bright: mix($terminal_color_black, $terminal_color_white, 40%);
$terminal_color_red_bright: $red;
$terminal_color_green_bright: $green1;
$terminal_color_yellow_bright: $yellow;
$terminal_color_blue_bright: #0F6DD2;
$terminal_color_magenta_bright: $purple;
$terminal_color_cyan_bright: $teal;
$terminal_color_white_bright: lighten($terminal_color_white, 10%);
.rstudio-themes-flat .gwt-TabLayoutPanelTab-selected {
    .gwt-TabLayoutPanelTabInner .rstheme_tabLayoutCenter {
      box-shadow: 0 3px 0 $red inset;
      border-radius: 0 !important;

      .gwt-Label {
        font-weight: 600;
      }
    }
  }
  
@import "rstudio/_terminal.scss";
$ui_command_palette_background: $ui_background;
$ui_command_palette_search_background: $ui_command_palette_background;
$ui_command_palette_border: $ui_command_palette_background;
$ui_command_palette_item_background: $ui_command_palette_background;
$ui_command_palette_item_color: $ui_foreground;
$ui_command_palette_item_hover_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 5%), darken($ui_command_palette_item_background, 5%));
$ui_command_palette_item_selected_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 10%), darken($ui_command_palette_item_background, 10%));
$ui_rstudio_dialog_background: $ui_rstudio_background;
$ui_rstudio_dialog_foreground: $ui_rstudio_foreground;
$ui_rstudio_dialog_border: if($ui_rstudio_is_dark, lighten($ui_rstudio_dialog_background, 5%), darken($ui_rstudio_dialog_background, 5%));
$ui_rstudio_dialog_selected_background: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_selected_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_heading_foreground: $code_function;
$ui_rstudio_dialog_help_foreground: $code_value;
$ui_rstudio_dialog_button_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_button_background: $ui_rstudio_dialog_background;
$ui_rstudio_dialog_button_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_button_hover_foreground: lighten($ui_rstudio_dialog_button_foreground, 10%);
$ui_rstudio_dialog_button_hover_background: lighten($ui_rstudio_dialog_button_background, 10%);
$ui_rstudio_dialog_button_hover_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_input_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_input_background: $ui_rstudio_dialog_background;
$ui_rstudio_dialog_input_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_checkbox_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_checkbox_background: lighten($ui_rstudio_dialog_background, 5%);
$ui_rstudio_dialog_select_background: lighten($ui_rstudio_dialog_background, 5%);
$ui_rstudio_dialog_select_foreground: $ui_rstudio_dialog_foreground;
$ui_paren_0: $code_comment;
$ui_paren_1: #21bfc2;
$ui_paren_2: #fab795;
$ui_paren_3: #f43e5c;
$ui_paren_4: #07da8c;
$ui_paren_5: #b877db;
$ui_paren_6: violet;
@import "rstudio/_command-palette.scss";
@import "rstudio/_large-tabs.scss";
@import "rstudio/_dialog-options.scss";
@import "rstudio/_rainbow-parens.scss";
