/* rs-theme-name: Material Palenight {rsthemes} */
/* rs-theme-is-dark: TRUE */
$base00: #292D3E;
$base01: #333747;
$base02: #3A3F58;
$base03: #4E5579;
$base04: #676E95;
$base05: #A6ACCD;
$base06: #FFFFFF;
$purple: #C792EA;
$blue: #81AAFF;
$sky: #89DDFF;
$aqua: #84FFFF;
$teal: #80CBC4;
$green: #C3E88D;
$gold: #FFCB6B;
$orange: #F78C6C;
$red: #F07178;
$ui_background: $base00;
$ui_foreground: $base06;
$code_string: $green;
$code_function: $blue;
$code_value: $orange;
$code_variable: $gold;
$code_message: $aqua;
$ui_rstudio_background: darken($ui_background, 3%);
$ui_rstudio_foreground: $base06;
$ui_rstudio_border: $ui_background;
$rmd_chunk_background: darken($base00, 2%);
$ui_rstudio_tabs_inactive_background: $base00;
$ui_rstudio_tabs_inactive_foreground: $base04;
$ui_rstudio_tabs_inactive_hover_background: $ui_rstudio_tabs_inactive_background;
$ui_rstudio_tabs_active_background: $base00;
$ui_rstudio_tabs_active_foreground: $base06;
$ui_rstudio_toolbar_background: $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground: $base03;
$ui_rstudio_search: $ui_rstudio_toolbar_background;
$ui_rstudio_scrollbar_background: $ui_background;
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;
$ui_cursor: $gold;
$ui_cursor_normal_mode: $ui_cursor;
$ui_gutter_foreground: $base03;
$ui_gutter_background: $ui_background;
$ui_line_active: darken($base00, 5%);
$ui_selection: mix($base04, $base01, 10%);
$ui_line_active_selection: $base02;
$ui_line_active_gutter: $ui_background;
$ui_bracket: transparentize($ui_cursor, 0.6);
$ui_invisible: transparentize($ui_foreground, 0.7);
$ui_indent_guide: $ui_invisible;
$ui_margin_line: $base01;
$ui_debug_background: $base02;
$ui_fold_arrows_foreground: $ui_cursor;
$ui_fold_arrows_background: transparentize($ui_fold_arrows_foreground, 0.5);
$ui_line_find: $ui_selection;
$ui_console_selection: $ui_selection;
$ui_completions_background: $base01;
$ui_completions_foreground: $base06;
$ui_completions_border: $base00;
$ui_completions_selected_background: $ui_line_active_selection;
$ui_completions_selected_foreground: $base06;
$ui_rstudio_job_progress_bar: $blue;
$code_comment: $base04;
$code_namespace_font_style: italic;
$code_reserved: $purple;
$code_operator: $sky;
$code_bracket: $teal;
$code_namespace: $red;
$code_identifier: $base06;
$code_string_background: inherit;
$code_function_background: inherit;
$code_value_background: inherit;
$code_variable_background: inherit;
$code_message_background: inherit;
$code_comment_background: inherit;
$code_reserved_background: inherit;
$code_operator_background: inherit;
$code_bracket_background: inherit;
$code_namespace_background: inherit;
$code_identifier_background: inherit;
$code_other: $code_string;
$rmd_heading_weight: 600;
$rmd_heading_foreground: $gold;
$rmd_heading_background: $code_string_background;
$rmd_chunk_header: $teal;
$rmd_chunk_header_background: $code_function_background;
$rmd_href: $red;
$rmd_href_background: $code_reserved_background;
@import "rstudio/_rstudio-dark.scss";
@import "rstudio/_rstudio-dark-flatter.scss";
$terminal_color_black: darken($ui_background, 5%);
$terminal_color_black_bright: lighten($terminal_color_black, 10%);
$terminal_color_red: #F07178;
$terminal_color_red_bright: #F07178;
$terminal_color_green: #C3E88D;
$terminal_color_green_bright: #C3E88D;
$terminal_color_yellow: #FFCB6B;
$terminal_color_yellow_bright: #FFCB6B;
$terminal_color_blue: #81AAFF;
$terminal_color_blue_bright: #89DDFF;
$terminal_color_magenta: #C792EA;
$terminal_color_magenta_bright: #C792EA;
$terminal_color_cyan: #84FFFF;
$terminal_color_cyan_bright: #80CBC4;
$terminal_color_white: darken($ui_foreground, 5%);
$terminal_color_white_bright: lighten($terminal_color_white, 10%);
.rstudio-themes-flat .gwt-TabLayoutPanelTab-selected {
    .gwt-TabLayoutPanelTabInner .rstheme_tabLayoutCenter {
      box-shadow: 0 -2px 0 $purple inset;
      border-radius: 0 !important;
    }
  }
  
/* remove border from panes */
    .rstudio-themes-flat
    :-webkit-any(.windowframe, .rstheme_minimizedWindowObject)
    > div:last-child {
      border-color: $ui_rstudio_background !important;
    }
    
@import "rstudio/_terminal.scss";
$ui_command_palette_background: $ui_background;
$ui_command_palette_search_background: $ui_command_palette_background;
$ui_command_palette_border: $ui_command_palette_background;
$ui_command_palette_item_background: $ui_command_palette_background;
$ui_command_palette_item_color: $ui_foreground;
$ui_command_palette_item_hover_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 5%), darken($ui_command_palette_item_background, 5%));
$ui_command_palette_item_selected_background: if($ui_rstudio_is_dark, lighten($ui_command_palette_item_background, 10%), darken($ui_command_palette_item_background, 10%));
$ui_rstudio_dialog_background: $ui_rstudio_background;
$ui_rstudio_dialog_foreground: $ui_rstudio_foreground;
$ui_rstudio_dialog_border: if($ui_rstudio_is_dark, lighten($ui_rstudio_dialog_background, 5%), darken($ui_rstudio_dialog_background, 5%));
$ui_rstudio_dialog_selected_background: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_selected_foreground: $base05;
$ui_rstudio_dialog_heading_foreground: $purple;
$ui_rstudio_dialog_help_foreground: $base05;
$ui_rstudio_dialog_button_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_button_background: $ui_rstudio_dialog_background;
$ui_rstudio_dialog_button_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_button_hover_foreground: $base05;
$ui_rstudio_dialog_button_hover_background: lighten($ui_rstudio_dialog_button_background, 10%);
$ui_rstudio_dialog_button_hover_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_input_foreground: $gold;
$ui_rstudio_dialog_input_background: $ui_rstudio_dialog_background;
$ui_rstudio_dialog_input_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_checkbox_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_checkbox_background: lighten($ui_rstudio_dialog_background, 5%);
$ui_rstudio_dialog_select_background: lighten($ui_rstudio_dialog_background, 5%);
$ui_rstudio_dialog_select_foreground: $ui_rstudio_dialog_foreground;
$ui_paren_0: $blue;
$ui_paren_1: $gold;
$ui_paren_2: $red;
$ui_paren_3: $purple;
$ui_paren_4: $green;
$ui_paren_5: $orange;
$ui_paren_6: $teal;
@import "rstudio/_command-palette.scss";
@import "rstudio/_large-tabs.scss";
@import "rstudio/_dialog-options.scss";
@import "rstudio/_rainbow-parens.scss";
