/* rs-theme-name: Night Owl {rsthemes} */
/* rs-theme-is-dark: TRUE */
$dark0: #010E17;
$dark1: #011627;
$dark2: #162a3a;
$light0: rgb(108,122,137);
$light1: #d6deeb;
$silver: #d7dbe0;
$gray: #6c7a89;
$gray-dark: #2e3436;
$blue: #82aaff;
$blue1: #5ca7e4;
$blue2: #3465a4;
$purple: #c792ea;
$purple0: #2e2040;
$purple1: #31364a;
$purple2: #75507b;
$teal-light: #7fdbca;
$teal-dark: #06989a;
$yellow-light: #ffeb95;
$yellow-dark: #c4a000;
$orange: #f78c6c;
$orange-light: #ecc48d;
$red: #d3423e;
$green-light: #addb67;
$green-dark: #4e9a06;
$pink: #ff2c83;
$olive: #637777;
$pesto: #807A2F;
$ui_background: $dark1;
$ui_foreground: $light1;
$code_string: $orange-light;
$code_function: $teal-light;
$code_value: $green-light;
$code_variable: $blue;
$code_message: $pink;
$ui_rstudio_background: $dark0;
$ui_rstudio_foreground: $light0;
$ui_rstudio_border: $dark1;
$rmd_chunk_background: $dark2;
$ui_rstudio_tabs_inactive_background: lighten($ui_rstudio_background, 2%);
$ui_rstudio_tabs_inactive_foreground: transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_inactive_hover_background: $dark0;
$ui_rstudio_tabs_active_background: $dark2;
$ui_rstudio_tabs_active_foreground: $ui_foreground;
$ui_rstudio_toolbar_background: $dark2;
$ui_rstudio_toolbar_foreground: $ui_foreground;
$ui_rstudio_search: $ui_rstudio_toolbar_background;
$ui_rstudio_scrollbar_background: transparentize($ui_background, 0.5);
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;
$ui_cursor: transparentize($blue1, 0.5);
$ui_cursor_normal_mode: $ui_cursor;
$ui_gutter_foreground: $gray;
$ui_gutter_background: $ui_background;
$ui_line_active: transparentize($rmd_chunk_background, 0.6);
$ui_selection: transparentize($blue2, 0.85);
$ui_line_active_selection: transparentize($blue2, 0.75);
$ui_line_active_gutter: $ui_background;
$ui_bracket: transparentize($blue1, 0.75);
$ui_invisible: transparentize($ui_foreground, 0.7);
$ui_indent_guide: $ui_invisible;
$ui_margin_line: transparentize($dark2, 0.25);
$ui_debug_background: transparentize($yellow-dark, 0.75);
$ui_fold_arrows_foreground: $dark0;
$ui_fold_arrows_background: $red;
$ui_line_find: $ui_selection;
$ui_console_selection: $ui_selection;
$ui_completions_background: $dark0;
$ui_completions_foreground: $light1;
$ui_completions_border: $dark0;
$ui_completions_selected_background: mix($purple, $dark0, 50%);
$ui_completions_selected_foreground: $light1;
$ui_rstudio_job_progress_bar: $teal-light;
$code_comment: $gray;
$code_namespace_font_style: italic;
$code_reserved: $purple;
$code_operator: $blue;
$code_bracket: $light0;
$code_namespace: $yellow-light;
$code_identifier: $light1;
$code_string_background: inherit;
$code_function_background: inherit;
$code_value_background: inherit;
$code_variable_background: inherit;
$code_message_background: inherit;
$code_comment_background: inherit;
$code_reserved_background: inherit;
$code_operator_background: inherit;
$code_bracket_background: inherit;
$code_namespace_background: inherit;
$code_identifier_background: inherit;
$code_other: $code_string;
$rmd_heading_weight: 600;
$rmd_heading_foreground: $orange;
$rmd_heading_background: $code_string_background;
$rmd_chunk_header: $blue;
$rmd_chunk_header_background: $code_function_background;
$rmd_href: $yellow-light;
$rmd_href_background: $code_reserved_background;
@import "rstudio/_rstudio-dark.scss";
@import "rstudio/_rstudio-dark-flatter.scss";
$terminal_color_black: darken($ui_background, 5%);
$terminal_color_red: $red;
$terminal_color_green: $green-dark;
$terminal_color_yellow: $orange-light;
$terminal_color_blue: $blue2;
$terminal_color_magenta: $purple2;
$terminal_color_cyan: $teal-dark;
$terminal_color_white: darken($ui_foreground, 5%);
$terminal_color_black_bright: mix($terminal_color_black, $terminal_color_white, 40%);
$terminal_color_red_bright: $pink;
$terminal_color_green_bright: $green-light;
$terminal_color_yellow_bright: $yellow-light;
$terminal_color_blue_bright: $blue1;
$terminal_color_magenta_bright: $purple;
$terminal_color_cyan_bright: $teal-light;
$terminal_color_white_bright: lighten($terminal_color_white, 10%);
.rstudio-themes-dark-menus .gwt-TabLayoutPanelTab-selected {
    .gwt-TabLayoutPanelTabInner .rstheme_tabLayoutCenter {
      box-shadow: 0 4px 0 $blue2 inset;
      border-radius: 0 !important;

      .gwt-Label {
        font-weight: 600;
      }
    }
  }
  
@import "rstudio/_terminal.scss";
$ui_command_palette_background: $ui_background;
$ui_command_palette_search_background: $ui_command_palette_background;
$ui_command_palette_border: $dark1;
$ui_command_palette_item_background: $ui_command_palette_background;
$ui_command_palette_item_color: $ui_foreground;
$ui_command_palette_item_hover_background: mix($purple, $dark1, 30%);
$ui_command_palette_item_selected_background: mix($purple, $dark1, 50%);
$ui_rstudio_dialog_background: $ui_rstudio_background;
$ui_rstudio_dialog_foreground: $ui_rstudio_foreground;
$ui_rstudio_dialog_border: if($ui_rstudio_is_dark, lighten($ui_rstudio_dialog_background, 5%), darken($ui_rstudio_dialog_background, 5%));
$ui_rstudio_dialog_selected_background: mix($purple, $dark1, 30%);
$ui_rstudio_dialog_selected_foreground: $light1;
$ui_rstudio_dialog_heading_foreground: $code_function;
$ui_rstudio_dialog_help_foreground: $blue1;
$ui_rstudio_dialog_button_foreground: $ui_rstudio_dialog_foreground;
$ui_rstudio_dialog_button_background: $ui_rstudio_dialog_background;
$ui_rstudio_dialog_button_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_button_hover_foreground: lighten($ui_rstudio_dialog_button_foreground, 10%);
$ui_rstudio_dialog_button_hover_background: lighten($ui_rstudio_dialog_button_background, 10%);
$ui_rstudio_dialog_button_hover_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_input_foreground: $light1;
$ui_rstudio_dialog_input_background: $dark1;
$ui_rstudio_dialog_input_border: $ui_rstudio_dialog_border;
$ui_rstudio_dialog_checkbox_foreground: $code_value;
$ui_rstudio_dialog_checkbox_background: $dark1;
$ui_rstudio_dialog_select_background: lighten($ui_rstudio_dialog_background, 5%);
$ui_rstudio_dialog_select_foreground: $light1;
$ui_paren_0: $code_bracket;
$ui_paren_1: $blue2;
$ui_paren_2: $purple;
$ui_paren_3: $orange;
$ui_paren_4: $green-light;
$ui_paren_5: $red;
$ui_paren_6: $teal-light;
@import "rstudio/_command-palette.scss";
@import "rstudio/_large-tabs.scss";
@import "rstudio/_dialog-options.scss";
@import "rstudio/_rainbow-parens.scss";
