/* rs-theme-name: Nord Snow Storm {rsthemes} */
/* rs-theme-is-dark: FALSE */

@import "palettes/_nord";

// primary UI colors
$ui_background           : lighten($nord6, 10%);
$ui_foreground           : $nord3;
$rmd_chunk_background: transparentize($nord6, 0.5);
$ui_selection            : transparentize($nord4, 0.6);
$ui_cursor               : $nord12;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : lighten($ui_selection, 5%);
$ui_gutter_foreground         : transparentize($ui_foreground, 0.75);
$ui_gutter_background    : $ui_background;

// less common UI colors
$ui_line_active           : transparentize($nord4, 0.6);
$ui_line_active_gutter    : $ui_background;
$ui_line_active_selection : opacify($ui_selection, 1);
$ui_line_find             : $ui_selection;
$ui_bracket               : transparentize($ui_cursor, 0.6);
$ui_invisible             : $nord4;
$ui_indent_guide          : $nord4;
$ui_debug_background      : lighten($ui_background, 10%);
$ui_fold_arrows_foreground     : $nord11;
$ui_fold_arrows_background: transparentize($ui_fold_arrows_foreground, 0.5);

// rstudio
$ui_rstudio_background          : darken($ui_background, 2%);
$ui_rstudio_foreground               : $ui_foreground;
$ui_rstudio_tabs_inactive_background       : $nord4;
$ui_rstudio_tabs_inactive_foreground : transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_active_background       : $nord6;
$ui_rstudio_tabs_active_foreground : $nord2;
$ui_rstudio_toolbar_background             : $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground       : $ui_foreground;
$ui_rstudio_search              : $ui_rstudio_toolbar_background;
$ui_completions_background      : $ui_background;
$ui_completions_foreground           : $ui_foreground;
$ui_completions_border          : $ui_bracket;
$ui_rstudio_scrollbar_handle    : $nord6;

// R language colors
$code_comment  : transparentize($ui_foreground, 0.5);
$code_string   : $nord14;
$code_function : $nord10;
$code_reserved : $nord7;
$code_operator : $nord9;
$code_bracket  : $nord8;
$code_value    : $nord11;
$code_namespace: $nord14;
$code_variable : $nord15;
$code_message  : $nord12;
$code_namespace_font_style: italic;

$code_other: $nord9;

// Rmd
$rmd_heading_foreground: $nord10;
$rmd_chunk_header: $nord7;
$rmd_href: $nord9;

// rainbow parens;
$ui_paren_0: $nord7;  // teal
$ui_paren_1: $nord10; // blue
$ui_paren_2: $nord11; // red
$ui_paren_3: $nord12; // orange
$ui_paren_4: $nord13; // yellow
$ui_paren_5: $nord14; // green
$ui_paren_6: $nord15; // purple

@import "rstudio/_defaults";
@import "rstudio/_rstudio-light", "rstudio/_rstudio-light-flatter";
@import "rstudio/_components";

