/* rs-theme-name: Nord Polar Night Aurora {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_nord";

// primary UI colors
$ui_background           : $nord0;
// $ui_background           : #262a33;
$ui_foreground           : $nord4;
$rmd_chunk_background: $nord1;
$ui_selection            : transparentize($nord3, 0.6);
$ui_cursor               : $nord9;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : lighten($ui_selection, 5%);
$ui_gutter_foreground         : transparentize($ui_foreground, 0.75);
$ui_gutter_background    : $ui_background;

// less common UI colors
$ui_line_active           : transparentize($nord2, 0.6);
$ui_line_active_gutter    : $ui_background;
$ui_line_active_selection : opacify($ui_selection, 1);
$ui_line_find             : $ui_selection;
$ui_bracket               : darken($ui_foreground, 50%);
$ui_invisible             : $nord3;
$ui_indent_guide          : $nord1;
$ui_debug_background      : lighten($ui_background, 10%);
$ui_fold_arrows_background: $nord11;
$ui_fold_arrows_foreground     : $ui_foreground;

// rstudio
$ui_rstudio_background          : darken($ui_background, 2%);
$ui_rstudio_foreground               : $ui_foreground;
$ui_rstudio_tabs_inactive_background       : $nord1;
$ui_rstudio_tabs_inactive_foreground : transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_active_background       : $nord2;
$ui_rstudio_tabs_active_foreground : $nord5;
$ui_rstudio_toolbar_background             : $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground       : $ui_foreground;
$ui_rstudio_search              : $ui_rstudio_toolbar_background;
$ui_completions_background      : $ui_background;
$ui_completions_foreground           : $ui_foreground;
$ui_completions_border          : $ui_bracket;
$ui_rstudio_scrollbar_handle    : $rmd_chunk_background;

// R language colors
$code_comment  : transparentize($ui_foreground, 0.5);
$code_string   : $nord14;
$code_function : $nord8;
$code_reserved : $nord15;
$code_operator : $nord9;
$code_bracket  : $code_function;
$code_value    : $nord11;
$code_namespace: $nord13;
$code_variable : $nord13;
$code_message  : $nord12;
$code_namespace_font_style: italic;

$code_other: $nord9;

// rainbow parens;
$ui_paren_0: $nord7;  // teal
$ui_paren_1: $nord10; // blue
$ui_paren_2: $nord11; // red
$ui_paren_3: $nord12; // orange
$ui_paren_4: $nord13; // yellow
$ui_paren_5: $nord14; // green
$ui_paren_6: $nord15; // purple

@import "rstudio/_defaults";
@import "rstudio/_rstudio-dark", "rstudio/_rstudio-dark-flatter";
@import "rstudio/_components";

