/* rs-theme-name: Nord Polar Night Aurora {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_nord";

// primary UI colors
$ui-background           : $nord0;
// $ui-background           : #262a33;
$ui-foreground           : $nord4;
$ui-code-chunk-background: $nord1;
$ui-selection            : transparentize($nord3, 0.6);
$ui-cursor               : $nord9;
$ui-cursor-normal-mode   : $ui-cursor;
$ui-margin-line          : lighten($ui-selection, 5%);
$ui-gutter-color         : transparentize($ui-foreground, 0.75);
$ui-gutter-background    : $ui-background;

// less common UI colors
$ui-line-active           : transparentize($nord2, 0.6);
$ui-line-active-gutter    : $ui-background;
$ui-line-active-selection : opacify($ui-selection, 1);
$ui-line-find             : $ui-selection;
$ui-bracket               : darken($ui-foreground, 50%);
$ui-invisible             : $nord3;
$ui-indent-guide          : $nord1;
$ui-debug-background      : lighten($ui-background, 10%);
$ui-fold-arrows-background: $nord11;
$ui-fold-arrows-color     : $ui-foreground;

// rstudio
$ui-rstudio-background          : darken($ui-background, 2%);
$ui-rstudio-color               : $ui-foreground;
$ui-rstudio-tabs-inactive       : $nord1;
$ui-rstudio-tabs-inactive-color : transparentize($ui-foreground, 0.4);
$ui-rstudio-tabs-selected       : $nord2;
$ui-rstudio-tabs-selected-color : $nord5;
$ui-rstudio-toolbar             : $ui-rstudio-tabs-selected;
$ui-rstudio-toolbar-color       : $ui-foreground;
$ui-rstudio-search              : $ui-rstudio-toolbar;
$ui-completions-background      : $ui-background;
$ui-completions-color           : $ui-foreground;
$ui-completions-border          : $ui-bracket;
$ui-rstudio-scrollbar-background: $ui-background;
$ui-rstudio-scrollbar-handle    : $ui-code-chunk-background;

// R language colors
$rlang-comment  : transparentize($ui-foreground, 0.5);
$rlang-string   : $nord14;
$rlang-function : $nord8;
$rlang-reserved : $nord15;
$rlang-operator : $nord9;
$rlang-bracket  : $rlang-function;
$rlang-value    : $nord11;
$rlang-namespace: $nord13;
$rlang-variable : $nord13;
$rlang-message  : $nord12;
$rlang-namespace-font-style: italic;

$other-tag: $nord9;

// rainbow parens;
$ui-paren-0: $nord7;  // teal
$ui-paren-1: $nord10; // blue
$ui-paren-2: $nord11; // red
$ui-paren-3: $nord12; // orange
$ui-paren-4: $nord13; // yellow
$ui-paren-5: $nord14; // green
$ui-paren-6: $nord15; // purple

@import "rstudio/_rstudio-dark", "rstudio/_rstudio-dark-flatter";
@import "rstudio/_components";
