/* rs-theme-name: Oceanic Plus {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_oceanic-plus";

// primary UI colors
$ui_background           : $base00;
$ui_foreground           : $base07;
$rmd_chunk_background: $base01;
$ui_selection            : transparentize($base05, 0.6);
$ui_cursor               : $base0A;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : transparentize($ui_selection, 0.25);
$ui_gutter_foreground         : transparentize($ui_foreground, 0.5);
$ui_gutter_background    : $ui_background;

// less common UI colors
$ui_line_active           : transparentize(darken($ui_background, 5%), 0.5);
$ui_line_active_gutter    : $base01;
$ui_line_active_selection : $base02;
$ui_line_find             : $base01;
$ui_bracket               : $base02;
$ui_invisible             : $base03;
$ui_indent_guide          : $base02;
$ui_debug_background      : lighten($ui_background, 10%);
$ui_fold_arrows_background: $base08;
$ui_fold_arrows_foreground     : $ui_foreground;

// rstudio
$ui_rstudio_background          : $base01;
$ui_rstudio_foreground               : $ui_foreground;
$ui_rstudio_tabs_inactive_background       : $base01;
$ui_rstudio_tabs_inactive_foreground : $base04;
$ui_rstudio_tabs_active_background       : $base02;
$ui_rstudio_tabs_active_foreground : $base07;
$ui_rstudio_toolbar_background             : $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground       : $ui_foreground;
$ui_rstudio_search              : $ui_rstudio_toolbar_background;
$ui_completions_background      : $ui_background;
$ui_completions_foreground           : $ui_foreground;
$ui_completions_border          : $ui_bracket;
$ui_rstudio_scrollbar_handle    : $rmd_chunk_background;

// R language colors
$code_comment  : $base04;
$code_string   : $base0B;
$code_function : $base0D;
$code_reserved : $base0E;
$code_operator : $base0C;
$code_bracket  : $code_operator;
$code_value    : $base09;
$code_namespace: $base0A;
$code_variable : $base08;
$code_message  : $base0F;
$code_namespace_font_style: italic;

$code_other: $code_variable;

// rainbow parens;
$ui_paren_0: $base0C;
$ui_paren_1: $base0D;
$ui_paren_2: $base0A;
$ui_paren_3: $base09;
$ui_paren_4: $base08;
$ui_paren_5: $base0B;
$ui_paren_6: $base0E;

// terminal colors
$terminal_color_black: darken($ui_background, 5%);
$terminal_color_red: $base08;
$terminal_color_green: $base0B;
$terminal_color_yellow: $base09;
$terminal_color_blue: $base0D;
$terminal_color_magenta: $base0E;
$terminal_color_cyan: $base0C;
$terminal_color_white: darken($ui_foreground, 5%);
$terminal_color_black_bright: mix($terminal_color_black, $terminal_color_white, 40%);
$terminal_color_red_bright: $base08;
$terminal_color_green_bright: $base0B;
$terminal_color_yellow_bright: $base0A;
$terminal_color_blue_bright: $base0D;
$terminal_color_magenta_bright: $base0E;
$terminal_color_cyan_bright: $base0C;
$terminal_color_white_bright: lighten($terminal_color_white, 10%);

@import "rstudio/_defaults";
@import "rstudio/_rstudio-dark", "rstudio/_rstudio-dark-flatter";
@import "rstudio/_components";

