/* rs-theme-name: One Dark {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_one-dark";

// primary UI colors
$ui_background           : $syntax-bg;
$ui_foreground           : $syntax-fg;
$rmd_chunk_background: darken($ui_background, 2%);
$ui_selection            : $syntax-selection-color;
$ui_cursor               : $syntax-cursor-color;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : lighten($ui_selection, 15%);
$ui_gutter_foreground         : $syntax-gutter-text-color;
$ui_gutter_background    : $ui_background;

// less common UI colors
$ui_line_active           : transparentize($mono-3, 0.8);
$ui_line_active_gutter    : $ui_line_active;
$ui_line_active_selection : transparentize($ui_selection, 0.4);
$ui_line_find             : $ui_selection;
$ui_bracket               : transparentize($ui_cursor, 0.6);
$ui_invisible             : transparentize($syntax-guide, 0.5);
$ui_indent_guide          : $ui_invisible;
$ui_debug_background      : transparentize($hue-6-2, 0.6);
$ui_fold_arrows_foreground     : $syntax-color-snippet;
$ui_fold_arrows_background: transparentize($ui_fold_arrows_foreground, 0.5);

// rstudio
$ui_rstudio_background          : darken($ui_background, 3%);
$ui_rstudio_foreground               : $ui_foreground;
$ui_rstudio_tabs_inactive_background       : $ui_rstudio_background;
$ui_rstudio_tabs_inactive_foreground : transparentize($ui_foreground, 0.5);
$ui_rstudio_tabs_active_background       : $ui_background;
$ui_rstudio_tabs_active_foreground : $ui_foreground;
$ui_completions_background      : $ui_background;
$ui_completions_foreground           : $ui_foreground;
$ui_completions_border          : $ui_bracket;
$ui_rstudio_scrollbar_background: $ui_background;
$ui_rstudio_scrollbar_handle    : $rmd_chunk_background;

// R language colors
$code_comment  : transparentize($ui_foreground, 0.5);
$code_string   : $syntax-color-snippet;
$code_function : $syntax-color-function;
$code_reserved : $syntax-color-keyword;
$code_operator : $syntax-color-method;
$code_bracket  : $syntax-fg;
$code_value    : $syntax-color-value;
$code_namespace: $syntax-color-import;
$code_variable : $syntax-color-variable;
$code_message  : $syntax-color-tag;
$code_namespace_font_style: normal;

$code_other: $syntax-color-tag;

// Rmd
$rmd_heading_foreground: $hue-5-2;
$rmd_chunk_header: $hue-1;
$rmd_href: $hue-6-2;

// Rainbow parens
$ui_paren_0: $syntax-fg;
$ui_paren_1: $hue-4;
$ui_paren_2: $hue-6;
$ui_paren_3: $hue-5;
$ui_paren_4: $hue-1;
$ui_paren_5: $hue-3;
$ui_paren_6: $hue-2;

@import "rstudio/_rstudio-dark", "rstudio/_rstudio-dark-flatter";
@import "rstudio/_components";

/* window containers */
.rstudio-themes-flat
  > .rstudio-themes-dark
  :-webkit-any(.windowframe, .rstheme_minimizedWindowObject)
  > div:last-child {
  border-radius: 0;
  border: none !important;
}

