/* rs-theme-name: Solarized Dark {rsthemes} */
/* rs-theme-is-dark: TRUE */

@import "palettes/_solarized";

// primary UI colors
$ui_background           : $base03;
$ui_foreground           : $base0;
$rmd_chunk_background: $base02;
$ui_selection            : transparentize($base00, 0.6);
$ui_cursor               : $red;
$ui_cursor_normal_mode   : $ui_cursor;
$ui_margin_line          : transparentize($ui_selection, 0.25);
$ui_gutter_foreground         : $base0;
$ui_gutter_background    : $base03;

// less common UI colors
$ui_line_active           : transparentize(darken($ui_background, 5%), 0.5);
$ui_line_active_gutter    : $base01;
$ui_line_active_selection : $base01;
$ui_line_find             : $base0;
$ui_bracket               : $base00;
$ui_invisible             : transparentize($base01, 0.66);
$ui_indent_guide          : transparentize($base01, 0.66);
$ui_debug_background      : lighten($ui_background, 10%);
$ui_fold_arrows_background: $violet;
$ui_fold_arrows_foreground     : $ui_foreground;

// rstudio
$ui_rstudio_background          : $base02;
$ui_rstudio_foreground               : $ui_foreground;
$ui_rstudio_tabs_inactive_background       : $base02;
$ui_rstudio_tabs_inactive_foreground : $base1;
$ui_rstudio_tabs_active_background       : $base01;
$ui_rstudio_tabs_active_foreground : $base3;
$ui_rstudio_toolbar_background             : $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground       : $base2;
$ui_rstudio_search              : $ui_rstudio_toolbar_background;
$ui_completions_background      : $ui_background;
$ui_completions_foreground           : $ui_foreground;
$ui_completions_border          : $ui_bracket;
$ui_rstudio_scrollbar_background: $ui_background;
$ui_rstudio_scrollbar_handle    : $base02;

// R language colors
$code_comment  : $base01;
$code_string   : $cyan;
$code_function : $blue;
$code_reserved : $green;
$code_operator : $yellow;
$code_bracket  : $yellow;
$code_value    : $magenta;
$code_namespace: $red;
$code_variable : $violet;
$code_message  : $orange;
$code_namespace_font_style: italic;

$code_other: $code_variable;

.ace_comment {
  font-style: italic;
}

@import "rstudio/_rstudio-dark", "rstudio/_terminal", "rstudio/_components";

