/* rs-theme-name: Yule RStudio {rsthemes} {rsthemes} */
/* rs-theme-is-dark: TRUE */
$red: #de6262;
$green: #39b81f;
$yellow: #F0c85b;
$green-dark: #262c33;
$green-bright: #4fe818;
$red-bright: #ff0010;
$blue: #00d3f8;
$black: #2e343a;
$gray-dark: #435052;
$teal: #64f3f0;
$purple: #7c3eff;
$brown: #847d73;
$white: #e8e8e8;
$ivory: #ede0ce;
$pink: #ff00a9;
$yellow-bright: #ffc400;
$navy: #23282e;
$green-slate: #50575f;
$slate: #808080;
$gold: #938536;
$ui_background: $black;
$ui_foreground: $white;
$code_string: $yellow;
$code_function: $red;
$code_value: #96B482;
$code_variable: $yellow;
$code_message: $teal;
$ui_rstudio_background: darken($black, 5%);
$ui_rstudio_foreground: $ivory;
$ui_rstudio_border: $ui_background;
$rmd_chunk_background: darken($ui_background, 5%);
$ui_rstudio_tabs_inactive_background: lighten($ui_rstudio_background, 2%);
$ui_rstudio_tabs_inactive_foreground: transparentize($ui_foreground, 0.4);
$ui_rstudio_tabs_inactive_hover_background: $ui_rstudio_tabs_inactive_background;
$ui_rstudio_tabs_active_background: $gray-dark;
$ui_rstudio_tabs_active_foreground: $ivory;
$ui_rstudio_toolbar_background: $ui_rstudio_tabs_active_background;
$ui_rstudio_toolbar_foreground: $ui_foreground;
$ui_rstudio_search: $ui_rstudio_toolbar_background;
$ui_rstudio_scrollbar_background: $ui_background;
$ui_rstudio_scrollbar_handle: $rmd_chunk_background;
$ui_cursor: #FF0000;
$ui_cursor_normal_mode: $ui_cursor;
$ui_gutter_foreground: $slate;
$ui_gutter_background: darken($black, 5%);
$ui_line_active: transparentize($rmd_chunk_background, 0.6);
$ui_selection: transparentize($ivory, 0.8);
$ui_line_active_selection: transparentize($ivory, 0.8);
$ui_line_active_gutter: $ui_background;
$ui_bracket: transparentize($ui_cursor, 0.6);
$ui_invisible: transparentize($ui_foreground, 0.7);
$ui_indent_guide: $ui_invisible;
$ui_margin_line: lighten($ui_selection, 5%);
$ui_debug_background: lighten($ui_background, 10%);
$ui_fold_arrows_foreground: $slate;
$ui_fold_arrows_background: $teal;
$ui_line_find: $ui_selection;
$ui_console_selection: $ui_selection;
$ui_completions_background: $black;
$ui_completions_foreground: $ui_foreground;
$ui_completions_border: $slate;
$ui_completions_selected_background: mix($teal, $black, 40%);
$ui_completions_selected_foreground: $ui_foreground;
$ui_rstudio_job_progress_bar: opacify($ui_selection, 1);
$code_comment: $brown;
$code_namespace_font_style: italic;
$code_reserved: $red;
$code_operator: $green;
$code_bracket: $slate;
$code_namespace: $green;
$code_identifier: $white;
$code_string_background: inherit;
$code_function_background: inherit;
$code_value_background: inherit;
$code_variable_background: inherit;
$code_message_background: inherit;
$code_comment_background: inherit;
$code_reserved_background: inherit;
$code_operator_background: inherit;
$code_bracket_background: inherit;
$code_namespace_background: inherit;
$code_identifier_background: inherit;
$code_other: $code_string;
$rmd_heading_weight: 600;
$rmd_heading_foreground: $yellow-bright;
$rmd_heading_background: $code_string_background;
$rmd_chunk_header: $code_function;
$rmd_chunk_header_background: $code_function_background;
$rmd_href: $code_reserved;
$rmd_href_background: $code_reserved_background;
@import "/Users/garrick/Repos/rsthemes/inst/templates/rstudio/_rstudio-dark.scss";
@import "/Users/garrick/Repos/rsthemes/inst/templates/rstudio/_terminal.scss";

.ace_marker-layer .ace_active-line {
  background: repeating-linear-gradient(
    -45deg,
    #262c33,
    #262c33 15px,
    #2e343a 15px,
    #2e343a 25px
  );
}

.normal-mode .ace_cursor {
  border: 0 !important;
  animation-name: xmas-background-colors;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 0.75;
}

.ace_cursor {
  color: #ff0010;
  animation-name: xmas-colors;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
}

@keyframes xmas-background-colors {
  0% {
    background-color: #ff00a9;
  }
  20% {
    background-color: #7c3eff;
  }
  40% {
    background-color: #64f3f0;
  }
  60% {
    background-color: #4fe818;
  }
  80% {
    background-color: #ffc400;
  }
  100 {
    background-color: #ff0010;
  }
}

@keyframes xmas-colors {
  0% {
    color: #ff00a9;
  }
  20% {
    color: #7c3eff;
  }
  40% {
    color: #64f3f0;
  }
  60% {
    color: #4fe818;
  }
  80% {
    color: #ffc400;
  }
  100 {
    color: #ff0010;
  }
}


$ui_command_palette_background: $ui_background;
$ui_command_palette_search_background: $ui_command_palette_background;
$ui_command_palette_border: $ui_command_palette_background;
$ui_command_palette_item_background: $ui_command_palette_background;
$ui_command_palette_item_color: $ui_foreground;
$ui_command_palette_item_hover_background: mix($teal, $black, 25%);
$ui_command_palette_item_selected_background: mix($teal, $black, 35%);
@import "/Users/garrick/Repos/rsthemes/inst/templates/rstudio/_command-palette.scss";
